.label {
    -fx-font-size: 18px;
    -fx-text-fill: #4a5366;
}

#thresholdChoiceBox{
    -fx-pref-width: 75px;
    -fx-alignment: right;
}

#obstacleChoiceBox{
    -fx-pref-width: 200px;
}

.backColor{
    -fx-background-color: #000000;
}

.customCol{
    -fx-background-color: #ff0000;
}