.loadBtn {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, -fx-header-color 0%, #0F475F 100%),
            #103B52,
            #1b88bb,
            radial-gradient(center 50% 50%, radius 100%, -fx-primary-color, #0F5875);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-min-width: 150px;
    -fx-min-height: 96px;
    -fx-text-fill: #ffffff;
}

.loadBtn:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
}

/*.loadBtn:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #075170 0%, #0F475F 100%),
    #103B52,
    #1b88bb,
    radial-gradient(center 50% 50%, radius 100%, #2A99CE, #0F5875);
}*/


.loadBtn:selected {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.mainLabels{
    /*-fx-font-family: "Verdana";*/
    -fx-font-size: 38px;
    -fx-text-fill: #000000;
}

#plane{
    /*-fx-rotate: 0;*/
    transition: -fx-rotate 1s;
}

#plane:hover{
    /*-fx-rotate: -20deg;*/
}

.head-label{
    -fx-font-size: 56px;
    /*-fx-font-family: "Verdana";*/
}