.loadBtn{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.7),5, 0.0,0,1);
    -fx-background-color: #0f475f;
    -fx-border-radius: 5px;
    -fx-min-width: 150px;
    -fx-min-height: 96px;
    -fx-text-fill: #ffffff;
    /*-fx-font-family: "Verdana";*/
    -fx-font-size: 28px;
}

.loadBtn:hover, .loadBtn:focused{
    -fx-background-color: -fx-secondary-color;
}

.mainLabels{
    /*-fx-font-family: "Verdana";*/
    -fx-font-size: 38px;
    -fx-text-fill: #000000;
}

#plane{
    /*-fx-rotate: 0;*/
    transition: -fx-rotate 1s;
}

#plane:hover{
    /*-fx-rotate: -20deg;*/
}

.head-label{
    -fx-font-size: 56px;
    /*-fx-font-family: "Verdana";*/
}