.popup{
    -fx-background-color: rgb(121, 121, 121);
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
    -fx-font-family: "Verdana";
    -fx-font-size: 1.2em;
}