.popup{
    -fx-background-color: rgb(121, 121, 121);
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-width:3px;
    -fx-font-family: "Verdana";
    -fx-font-size: 1.2em;
}

.addRunwayAirportSelection{
    -fx-pref-width: 200px;
    -fx-pref-height: 35px;
    -fx-text-alignment: center;
    -fx-font-size: 18px;
}



