.popup{
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-color: black;
    -fx-border-width:1.5px;
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
}

.popUpTitles{
    -fx-font-weight: BOLD;
    -fx-text-fill: black;
}

.popUpText{
    -fx-text-fill: black;
}
.addRunwayAirportSelection{
    /*-fx-pref-width: 200px;
    -fx-pref-height: 35px;*/
    -fx-text-alignment: center;
    -fx-font-size: 18px;
}

