.imageButton {
    -fx-background-color: -fx-primary-color;
}

.imageButton:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-cursor: "pointer";
}

.redErrorPromptText {
    -fx-prompt-text-fill: -fx-error-color;
}

.obstacleList .list-cell:filled:hover{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
}

.obstacleList .list-cell:filled:selected{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
}

.obstacleList .list-cell{
    -fx-text-fill: #000000;
}