.imageButton {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.3),5, 0.0,0,1);
    -fx-background-color: -fx-primary-color;
}

.imageButton:hover {
    -fx-background-color: #0F5875;
    -fx-cursor: "pointer";
}

.imageButton:selected{
    -fx-background-color: #0F5875;
}

.redErrorPromptText {
    -fx-prompt-text-fill: -fx-error-color;
}

.obstacleList .list-cell:filled:hover{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
}

/* this next one is needed to make label text white on hover in the custom list view */
.obstacleCell:hover .label {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
}

.obstacleCell:selected .label{
    -fx-text-fill: #ffffff;
}


.obstacleList .list-cell:filled:selected{
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffffff;
}

.obstacleList .list-cell{
    -fx-text-fill: #000000;
}