.dark {
    -fx-background-color: #0f475f;
}

.dark > .label{
    -fx-text-fill: #ffffff;
}

.light {
    -fx-background-color: -fx-primary-color;
}

.lighter {
    -fx-background-color: #20b9f9;
}

#runwayGrid .label{
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 30 0;
}

#runwayGrid > .leftCol > .label{
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 30 10;
}

#runwayGrid > .rightCol > .label{
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 30 10;
}

.paintMe {
    -fx-background-color: red;
}

#smallRunwayGrid > .label{
    -fx-font-weight: bold;
}